* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 58, 64);
    width: 100%;
    height: 10%;
}
nav > a > div > img{
    width: 120px;
}
.nav-items{
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 13px;
    align-items: center;
}
.nav-items li:last-child {
    color: rgb(45, 165, 67);
}
.nav-items li{
    margin-right: 12px;
    cursor: pointer;
    color: rgb(170, 167, 167);
    transition: 0.5s;
}
.nav-items li:not(:last-child):hover{
    color: #ffff;
}
.logo{
    display: flex;
    text-decoration: none;
    align-content: center;
    text-align: center;
}

.logo-text h1{
    font-size: 20px;
    color: #ffff;
    margin-top: 16px;
}

.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.ham span{
    display: block;
    background-color: #ffff;
    height: 3px;
    width: 28px;
    margin: 5px auto;
    border-radius: 2px;
}

.nav-items.activado{
    display: flex;
}



/* HEADER */
header{
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url(img/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 92vh;
}
header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    opacity: 0.8; /* Ajusta la opacidad del filtro */
    mix-blend-mode: multiply; /* Aplica el modo de mezcla para evitar afectar el texto */

}
.header-content{
    position: absolute;
    z-index: 1;
    max-width: 500px;
    /* float: right; */
    clear: both;
    color: #ffff;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 100px;
}
.header-content p {
    font-size: 18px;
}


.btn-green{
    background-color: green;
    color: #ffff;
    border: none;
    border-radius: 6px;
    height: 40px;
    width: 150px;
    padding: 6px 12px;
    margin-left: 10px;
}

.btn-green > a{
    text-decoration: none;
    color: #ffff;

}

.title{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



 /* UBICACION  */


.section-ubi{
    margin-top: 2rem;
    width: 100%;
}

.content-ubi{
    display: flex;
    height: 400px;
}

.color{
    background-color: rgb(53, 58, 64);
    color: #ffff;
    padding: 1rem;
    margin: 0;
    /* width: 50%; */
}

.img-ubi{
    max-width: 100%;
    width: 50%;
    height: auto;
}

/* FORMULARIO */

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 20px 0;
}

legend{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: none;
}

.section-form{
    margin-top: 2rem;
}

textarea{
    resize: none;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 20px 0;
}
.top > input{
    width: 48%;
}

.btn-form{
    background-color: rgb(150, 201, 62);
    border: none;
    border-radius: 5px;
    height: 2.4rem;
    color: #ffff;
    font-size: 20px;
    text-align: center;
}


/* FOOTER */

.footer-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(29, 64, 84);
    color: #ffff;
    margin-bottom: 0;
    padding: 32px;
}
.footer-ul li{
    list-style: none;
    cursor: pointer;
}



/* MEDIAQUERIES */

@media only screen and (max-width: 767px) {
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .ham {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }

    nav {
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
        justify-content: space-evenly;
        height: 50vh;
        display: none;
    }
}

.footer-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(29, 64, 84);
    color: #ffff;
    margin-bottom: 0;
    padding: 32px;
}
.footer-ul li{
    list-style: none;
    cursor: pointer;
}



/* MEDIAQUERIES */

@media only screen and (max-width: 767px) {
    .ham {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
    }

    nav {
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
        justify-content: space-evenly;
        height: 50vh;
        display: none;
    }
}




/* PAGINA DE TICKETS   */

.cards-tickets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-t{
    text-align: center;
    border: 1px solid #000;
    margin: 10px 2px;
    padding: 18px 10px;
}
.card-t:nth-child(1){
    border: 1px solid rgb(0, 123, 255);
}
.card-t:nth-child(2){
    border: 1px solid rgb(23, 162, 184);
}
.card-t:nth-child(3) {
    border: 1px solid rgba(255, 193, 7)
}
.card-t h2{
    font-size: 24px;
}
.card-t h3{
    font-size: 18px;
    
}
.porcent-card{
    font-weight: bold;
    font-size: 18px;
}
.doc-card{
    color: gray;
}
/* FORMULARIO */
.container-form p,
.container-form h1{
    text-transform: uppercase;
}

.container-form{
    text-align: center;
}

.form2{
    display: flex;
    flex-direction: column;
}

.part-1{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.part-1 input{
    padding: 18px 10px;
    height: 30px;
    width: 49%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(206, 212, 218);
}

.part-2{
    width: 60%;
}
.part-2 input{
    width: 100%;
    padding: 18px 10px;
    height: 30px;
    margin: 7px 2px;
    border-radius: 5px;
    border: 1px solid rgb(206, 212, 218);
}

.part-3{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}
.sub1-3{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 49%;
    /* margin-right: 5px; */
}
.sub1-3 input{
    width: 100%;
    padding: 18px 10px;
    height: 30px;
    margin: 7px 2px;
    border-radius: 5px;
    border: 1px solid rgb(206, 212, 218);
}
.sub2-3{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 49%;
    /* margin-left: 5px; */
}
.sub2-3 select{
    width: 100%;
    padding: 3     px 10px;
    height: 35px;
    margin: 7px 2px;
    border-radius: 5px;
    border: 1px solid rgb(206, 212, 218);
}

.form-bottom{
    text-align: start;
    width: 60%;
    background-color: rgb(204, 229, 255);
    color: rgba(0, 64, 133);
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
}
.form-bottom p{
    margin: 0;
}

.button-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
}
.button-form button{
    width: 49%;
    background-color: rgb(151, 201, 62);
    border: none;
    border-radius: 5px;
    padding: 6px 0;
    color: #ffff;
}